* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(2n+1) {
    background-color: #ddd;
}